rtl/xcelium.d/
rtl/xrun.log
sim/
xrun.history

sim/**/.simvision
sim/modelsim.ini
sim/xcelium.d/
sim/**/*.log
sim/**/xrun*
sim/waves.shm
sim/vectors
sim/*.txt
sim/fs/*
sim/ncompile/*
sim/stdout
sim/simvisi*
sim/.bpad/*
sim/*.err
sim/desabilita_asserts.tcl
sim/restore.tcl
sim/restore.tcl.svcf